{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
	
	<div class="all-title-box">
		<div class="container text-center">
			<h1>Hakkımızda Ve Biz<span class="m_1">Bir Grup Geliştirici Yazılımcı.</span></h1>
		</div>
	</div>
	
    <div id="overviews" class="section lb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h3>Hakkımda</h3>
                    <p class="lead">Geliştirici ve programcı olarak 2016 yılından beri aktif olarak programcılık ile uğraştığım bu dönemde bir çok başarı ve faydalı bilgi elde ettim.

                        Yapay Zeka ve Veri Bilimi en uğraştığım ve başarılı olduğum bölümlerdir iyi bir Python bilgim ve sertifikam var.Şuanda hiçbir yerde çalışmıyorum evden proje yürütüyorum.</p>
                </div>
            </div>
            </div>
        </div>
    </div>
	
	<div class="hmv-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<div class="inner-hmv">
						<div class="icon-box-hmv"><i class="flaticon-achievement"></i></div>
						<h3>Amacımız</h3>
						<div class="tr-pa">A</div>
						<p>Yazılıma Yeni Başlayanlara Bu Mesleği Sevdirmek Ve Geleceği Tanımak.Bilmiyorum Diye Hiç Başlamayan Arkadaşları Bu İşe Sevdirmek İçin Elimizden Geleni Yapıyoruz.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="inner-hmv">
						<div class="icon-box-hmv"><i class="flaticon-eye"></i></div>
						<h3>Teşekkürler</h3>
						<div class="tr-pa">T</div>
						<p>Biz Az Sayılı Bir Ekibiz.Hedefimiz Yüksek Bu Hedefimizde Yazılıma Yeni Başlayan Arkadaşlarımıza Yardımcı Olmaktan Dolayı Mutlu Oluyoruz.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="inner-hmv">
						<div class="icon-box-hmv"><i class="flaticon-history"></i></div>
						<h3>Ekip</h3>
						<div class="tr-pa">E</div>
						<p>Ekibin Kurucusu | Python Developer. | 2. Ekip Arkadaşımız | C# Unity Game Developer</p>
					</div>
				</div>
			</div>
		</div>
	</div>

    {% endblock %}