{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}

<div class="modal fade show" id="logreg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header tit-up">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Giriş Yap</h4>
            </div>
            <div class="modal-body customer-box">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="Login">
                        <form method="POST" role="form" class="form-horizontal">
                            {% csrf_token %}

                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-{{message.tags}}">

                                {{message}}
                            </div>
                            {% endfor %}

                            {% endif %}

                            <div class="form-group">
                                <div class="col-sm-12">
                                    {{form.username}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    {{form.password}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10">
                                    <input type="submit" value="Giriş Yap" class="btn btn-light btn-radius btn-brd grd1">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="carouselExampleControls" class="carousel slide bs-slider box-slider" data-ride="carousel" data-pause="hover"
    data-interval="false">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleControls" data-slide-to="1"></li>
        <li data-target="#carouselExampleControls" data-slide-to="2"></li>
    </ol>



    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div id="home" class="first-section" style="background-image:url(' {% static "images/neon1.jpg" %}');">
                <div class="dtab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 text-right">
                                <div class="big-tagline">
                                    <h2><strong>Astrea | </strong> Kurs & Eğitim & Teklonoji</h2>
                                    <p class="lead">Her Kodlama Gününde Aldığın Hatalar İleride Başkalarına Hata Olacak O Hataya Uğramalarını Engellemek İstemezmisin?</p>
                                </div>
                            </div>
                        </div>          
                    </div>
                </div>
            </div>
        </div>



        <div class="carousel-item">
            <div id="home" class="first-section" style="background-image:url(' {% static "images/neon2.jpg" %}');">
                <div class="dtab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 text-left">
                                <div class="big-tagline">
                                    <h2 data-animation="animated zoomInRight">Yeni Kurslar & Yeni Eğitimler Şimdi <strong>Astrea Course'da</strong></h2>
                                    <p class="lead" data-animation="animated fadeInLeft">Zamanınızı İyi Değerlendirmeniz İçin Kurslarımızı Sizlere Sunmaktan Onur Ve Gurur Duymaktayız. </p>
                                </div>
                            </div>
                        </div>         
                    </div>
                </div>
            </div>
        </div>


        <div class="carousel-item">
            <div id="home" class="first-section" style="background-image:url(' {% static "images/neon3.jpg" %}');">
                <div class="dtab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 text-center">
                                <div class="big-tagline">
                                    <h2 data-animation="animated zoomInRight"><strong>Yapay Zeka Geliştirme Ve Araştırma </strong> Ekibimiz</h2>
                                    <p class="lead" data-animation="animated fadeInLeft">Geleceğin Teklonojisini Öğrenmek İstemezmisiniz ?</p>
                                </div>
                            </div>
                        </div>          
                    </div>
                </div>
            </div>
        </div>
        <a class="new-effect carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Önceki</span>
        </a>
        <a class="new-effect carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Sonraki</span>
        </a>
    </div>
</div>

{% endblock %}